$Primary: rgba(104, 248, 12, 1);
$Primary-5: rgba(104, 248, 12, 0.5);
$Secondary-5: rgba(108, 251, 236, 0.5);
$Accent: rgba(69, 188, 250, 1);
$Background: #f7fff2;
$Text-white: #f7fff2;
$Text: #112401;

.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: $Text;
  background-color: $Background;
}

main {
  width: 100%;
  height: 100%;
  .top {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    .left,
    .right {
      border-radius: 10px;
      border: $Accent 1px solid;
    }
    .left {
      background-color: $Secondary-5;
      width: 35vw;
      height: 45vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .word-space,
      .loose-win {
        text-align: center;
        font-size: 5vh;
      }
      .word-space{
        letter-spacing: .2em;
      }
      .letter-used {
        min-height: 5vh;
        display: flex;
        justify-content: space-around;
      }
    }
    .right {
      background-color: $Primary;
      width: 35vw;
      height: 45vh;
      font-size: 12vh;
      text-align: center;
      color: $Text-white;
    }
  }
  .bottom {
    padding: 3em;
    border-radius: 1em;
    border: $Text 1px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .letter-button {
      width: 3em;
      height: 3em;
      border: none;
      font-family: "Anton", sans-serif;
      background: $Primary-5;
      border-radius: 50%;
      &:hover {
        background: $Primary;
      }
      &:active {
        transform: scale(0.9);
      }
      &:disabled {
        background-color: $Background;
      }
    }
  }
}
